APP_PORT=8080

POSTGRES_PORT=5433
POSTGRES_DB=ecommerce
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=secret

REDIS_PORT=6379

MAILHOG_UI_PORT=8025
MAILHOG_SMTP_PORT=1025

JWT_SECRET=change_me
APP_ENV=local
NODE_ENV=development