/vendor

/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/public/storage
.phpunit.result.cache

.env
.env.production

.git
.gitignore

Dockerfile
docker-compose.yml
.dockerignore
